/* Styles for the App.js */
html {
  scroll-behavior: smooth;
  scroll-padding: 79px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #848484;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
nav .nav-left {
  display: flex;
  align-items: center;
}
.name-logo {
  font-size: 24px;
  margin-left: 2em;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
nav li {
  margin: 0 20px;
}
nav a {
  text-decoration: none;
  color: #1c1c1c;
}
nav a:hover {
  color: #0E3CBD;
}

section {
  padding: 100px, 100px;
  text-align: center;
}

.scroll-to-top {
  position: fixed;
  font-size: 20px;
  background-color: #5e5e5e;
  border-radius: 5%;
  padding: 10px 15px;
  color: #FFFFFF;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out, visibility 0s 0.25s;
  cursor: pointer;
  z-index: 1000;
}
.scroll-to-top.show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.25s ease-in-out;
}
.scroll-to-top:hover {
  background-color: #1c1c1c;
}

#projects {
  background-color: #848484;
  padding-left: 100px;
  padding-right: 100px;
}

/* Styles for the home.jsx */

.home-container h2 {
  color: #FFFFFF;
  font-size: 70px;
  margin-bottom: 0;
  margin-top: 0.5em;
}
.home-container h3 {
  color: #FFFFFF;
  font-size: 30px;
  margin-bottom: 75px;
}

.home-container {
  background-image: url(C:\Users\aryse\OneDrive\Desktop\CS\Projects\my-portfolio\public\cs_background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pic-container {
  margin-top: 100px;
}
.pic-container img {
  width: 250px;
  border-radius: 50%;
  border: solid #FFFFFF 8px;
}

/* Styles for the about.jsx */
.about-container {
  background-color: #FFFFFF;
  padding-left: 100px;
  padding-right: 100px;
}
.cwu-container {
  float: right;
}
.cwu-logo img {
  width: 200px;
}
.intro-container {
  text-align: left;
}
.exp-container {
  text-align: left;
}
.exp-container ul {
  list-style-type: none;
  padding: 0;
}
.exp-item {
  margin-bottom: 20px;
}
.exp-icon {
  font-size: 40px;
  margin-right: 20px;
}
.icon-text-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.icon-text-container p {
  margin: 0;
}
.socials ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.socials li {
  margin: 0 20px;
}
.socials a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1c1c1c;
  color: #FFFFFF;
  font-size: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.socials a:hover {
  background-color: #0E3CBD;
}

/* Styles for the skills.jsx */
.skills-container {
  background-color: #259FDE;
  padding-left: 100px;
  padding-right: 100px;
}
.skills-container h2 {
  color: #FFFFFF;
  font-size: 50px;
}
.skills-container h3 {
  color: #FFFFFF;
  font-size: 30px;
}
.skills-container p {
  color: #FFFFFF;
  margin-bottom: 100px;
}
.service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 0 auto;
}
.text-faded {
  color:#d0d1d3;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col-lg-4, .col-md-6 {
  flex: 1 1 calc(33.33% - 20px); /* Adjust width based on screen size */
  box-sizing: border-box;
}
.mfizz-cplusplus {
  font-size: 50px;
}