/* Styles for the App.js */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  /*scroll-padding: 79px;*/
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #848484;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
nav .nav-left {
  display: flex;
  align-items: center;
}
.name-logo {
  font-size: 24px;
  margin-left: 2em;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
nav li {
  margin: 0 20px;
}
nav a {
  text-decoration: none;
  color: #1c1c1c;
  transition: color 0.3s ease, background-color 0.3s ease;
}
nav a:hover {
  color: #0E3CBD;
}
nav a.active {
  color: #0E3CBD;
}

section {
  /* padding: 100px, 100px; */
  text-align: center;
  background-color: #e4e4e4;
}

.scroll-to-top {
  position: fixed;
  font-size: 20px;
  background-color: #5e5e5e;
  border-radius: 5%;
  padding: 10px 15px;
  color: #FFFFFF;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out, visibility 0s 0.25s;
  cursor: pointer;
  z-index: 1000;
}
.scroll-to-top.show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.25s ease-in-out;
}
.scroll-to-top:hover {
  background-color: #1c1c1c;
}

/* Styles for the home.jsx */

.home-container h2 {
  color: #FFFFFF;
  font-size: 70px;
  margin-bottom: 0;
  margin-top: 0.5em;
}
.home-container h3 {
  color: #FFFFFF;
  font-size: 30px;
  margin-bottom: 75px;
}

.home-container {
  background-image: url(C:\Users\aryse\OneDrive\Desktop\CS\Projects\my-portfolio\public\cs_background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
  min-height: 100vh;
}

.pic-container {
  margin-top: 8em;
}
.pic-container img {
  width: 250px;
  border-radius: 50%;
  border: solid #FFFFFF 8px;
}

/* Styles for the about.jsx */
.about-container {
  background-color: #e4e4e4;
  padding-left: clamp(1rem, 5vw, 100px);
  padding-right: clamp(1rem, 5vw, 100px);
  min-height: 100vh;
  display: flex; /* Enable Flexbox */
  flex-direction: row; /* Keep elements in a row */
  justify-content: center; /* Center the main content */
  align-items: center;
  gap: 150px; /* Space between the left column and the text */
  /* padding-top: 85px; */
}
/* New style for the left column (Pic + Socials) */
.left-column {
  display: flex;
  flex-direction: column; /* Stack the picture and socials vertically */
  align-items: center;
  flex-shrink: 0; /* Prevent the column from shrinking */
  width: 250px; /* Set a fixed width for the column */
}

/* New style for the profile picture */
.profile-pic-container {
  margin-bottom: 20px; /* Space between the picture and the socials */
  margin-top: 30px; /* Small space from the top of the container */
}

.profile-pic {
  width: 350px; /* Match the column width */
  height: 350px; /* Keep it square */
  border-radius: 50%;
  border: solid #FFFFFF 8px; /* Changed from #FFFFFF for better contrast on white background */
  object-fit: cover; /* Ensures the image fills the area without distortion */
}
.about-container h2 {
  /* padding-top: 85px; */
}
.cwu-container {
  float: right;
  padding-top: 70px;
}
.cwu-logo img {
  width: 220px;
}
.intro-container {
  text-align: left;
  flex-grow: 1; /* Allow the text to grow and take up remaining space */
  max-width: 800px;
}
.socials h3 {
  text-align: center;
}
.socials ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.socials li {
  margin: 0 30px;
}
.socials a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #1c1c1c;
  color: #FFFFFF;
  font-size: 30px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.socials a:hover {
  background-color: #0E3CBD;
}
#about-socials {
  margin-bottom: 0;
}
/* Add media query for smaller screens */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column; /* Stack them vertically on small screens */
    align-items: center;
  }

  .left-column {
    width: 100%; /* Take full width */
  }

  .intro-container {
    max-width: 100%;
    padding-bottom: 30px; /* Add some space at the bottom */
  }
}

/* Styles for the experience.jsx */
.experience-container {
  background-color: #1c1c1c;
  padding-left: 100px;
  padding-right: 100px;
  /* min-height: 100vh; */
  margin-bottom: 0;
}
.experience-container h2 {
  color: #FFFFFF;
  font-size: 50px;
  padding-top: 85px;
  margin-top: 0;
}
.experience-container p {
  color: #FFFFFF;
}
.exp-container {
  text-align: left;
}
.exp-container ul {
  list-style-type: none;
  padding: 0;
}
.exp-item {
  margin-bottom: 20px;
}
.exp-icon {
  color: #FFFFFF;
  font-size: 40px;
  margin-right: 20px;
}
.icon-text-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.icon-text-container p {
  margin: 0;
}

/* Styles for the zigzag.jsx */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper > .experience-item {
  /* border: 2px solid rgb(233, 171, 88); */
  border-radius: 5px;
  /* background-color: rgba(233, 171, 88, 0.5); */
  padding: 1em;
  margin-bottom: 5em;
  /* color: #d9480f; */
  
  /* Make the experience-item a grid container itself */
  display: grid;
  grid-template-columns: 1fr 1fr; /* This will create two equal-width columns inside each item */
  gap: 10em; /* Add some space between text and image */
  align-items: center; /* Vertically center the text and image */
}

/* Base styles for all items */
.wrapper {
  display: grid;
  /* This is a single column. We'll use the sub-grid above to create the zigzag. */
  grid-template-columns: 1fr; 
}

/* Styles to create the zigzag effect */
/* Target all even-numbered experience items */
.wrapper > .experience-item:nth-of-type(even) {
  /* For even items, reverse the order of the text and image */
  direction: rtl; /* This is a common trick to reverse grid/flexbox items */
}

/* Correct the text direction for the inner elements */
.wrapper > .experience-item:nth-of-type(even) .text-content {
  direction: ltr;
}

/* General styles for the content */
.text-content {
    /* Your text styles here */
}

.image-placeholder {
  /* Your image/icon styles here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-icon {
  width: 250px;
  border-radius: 50%;
  /* border: solid #ffffff 8px; */
}
#nomms-logo, #cwu-cyber-logo {
  border: solid #ffffff 8px;
}

.exp-left-align {
  text-align: left;
} 

.job-title {
  color: #FFFFFF;
  margin-bottom: 1.5em;
}

.link-group p {
  margin: 0;
  margin-bottom: 0.5em;
}
.experience-link {
  font-size: 18px;
  color: #0E3CBD;
  text-decoration: none;
  font-weight: bold;
}
.experience-link:hover {
  text-decoration: underline;
}

.link-divider {
  color: #ffffff;
  font-weight: bold;
  margin: 0 0.5em;
}

/* Styles for the skills.jsx */
.skills-container {
  background-color: #259FDE;
  padding-left: 100px;
  padding-right: 100px;
  /* min-height: 100vh; */
  padding-bottom: 50px;
}
.skills-container h2 {
  color: #FFFFFF;
  font-size: 50px;
  padding-top: 85px;
  margin-top: 0;
}
.skills-container h3 {
  color: #FFFFFF;
  font-size: 30px;
}
.skills-container p {
  color: #FFFFFF;
  margin-bottom: 30px;
}
.service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 0 auto;
}
#c-logo {
  width: 60px;
  height: 60px;
}
#mysql-logo {
  width: 85px;
  height: 85px;
}
.text-faded {
  color:#d0d1d3;
}
.skills-project-link {
  cursor: pointer;
  text-decoration: none;
}
.skills-project-link:hover {
  text-decoration: underline;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.col-lg-4, .col-md-6 {
  flex: 1 1 calc(33.33% - 20px); /* Adjust width based on screen size */
  box-sizing: border-box;
}
.mfizz-cplusplus {
  font-size: 50px;
}
@keyframes popEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.skill-pop {
  animation: popEffect 0.7s ease-in-out;
}

/* Styles for the projects.jsx */
.projects-container {
  background-color: #e4e4e4;
  padding-left: 100px;
  padding-right: 100px;
  /* min-height: 100vh; */
  padding-bottom: 50px;
}
.projects-container h2 {
  font-size: 50px;
  padding-top: 85px;
  margin-top: 0;
}
.projects-container h3 {
  font-size: 30px;
}
.projects-showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.project-card {
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}
.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px;
}
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.curr-dev-circle {
  position: absolute;
  bottom: 5px;
  right: 10px;
  padding: 5px;
  color: rgb(0, 207, 0);
  font-size: 30px;
  animation: spin 2s linear infinite;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
  z-index: 9999;
}
.curr-dev-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.curr-dev-container h4 {
  color: #1c1c1c;
  margin-right: 10px;
}
.spinner {
  color: rgb(0, 207, 0);
  font-size: 30px;
  animation: spin 2s linear infinite;
}
.modal-container {
  background-color: #e6e6e6;
  padding: 30px;
  max-width: 1100px;
  width: 100%;
  max-height: 92vh;
  overflow-y: auto;
  box-shadow: 0 0 20px;
  position: relative;
}
.modal-container h2 {
  margin-top: 0;
}
.modal-container p {
  text-align: left;
  white-space: pre-line;
  font-size: 16px;
  line-height: 1.6;
}
.modal-container a {
  text-decoration: none;
  color: #0E3CBD;
}
.modal-container a:hover {
  text-decoration: underline;
}
.modal-container ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 30px;
}
.modal-container ul li b {
  cursor: pointer;
}
.modal-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
}
.modal-description {
  flex: 1.5;
  min-width: 300px;
}
.modal-description p {
  margin-top: 0;
}
.modal-tech {
  flex: 1;
  min-width: 250px;
}
.modal-tech h3 {
  margin-top: 0;
}
.tech-icon {
  cursor: pointer;
}
.MuiChartsTooltip-root {
  z-index: 9999 !important;
  position: absolute !important;
}
.MuiPieArc-root {
  cursor: pointer;
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 40px;
  cursor: pointer;
}
.close:hover {
  color: #5e5e5e;
}
.project-link {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 16px;
}
.project-link a {
  text-decoration: none;
  color: #0E3CBD;
  margin-bottom: 10px;
}
.project-link a:hover {
  text-decoration: underline;
}
.screenshots-header {
  margin-top: 60px;
}
.demo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.demo-container h3 {
  margin-bottom: 40px;
  color: #0E3CBD;
  display: inline-block;
}
.demo-container h3:hover {
  text-decoration: underline;
  cursor: pointer;
}
.demo-video {
  width: 900px;
  height: 390px;
}
#demo-soon:hover {
  text-decoration: none;
  cursor: text;
}
.word-cloud-container {
  margin-top: 50px;
}
#try-self {
  color: #0E3CBD;
  display: inline-block;
  padding-bottom: 20px;
}
#try-self:hover {
  text-decoration: underline;
  cursor: pointer;
}
.word-cloud-form-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}
.word-cloud-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.word-cloud-form-inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}
.word-cloud-form-selects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  margin-top: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  display: block;
  text-align: left;
  font-size: 18px;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}
.word-cloud-form-inputs input {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 405px;
  height: 60px;
  padding-left: 20px;
  border: 2px solid #1c1c1c;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}
.word-cloud-form-inputs input::placeholder {
  font-weight: bold;
}
.word-cloud-form-inputs input:focus {
  border-color: #0E3CBD;
}
.word-cloud-form-selects select {
  width: 180px;
  height: 40px;
  padding-left: 20px;
  border: 2px solid #1c1c1c;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}
.word-cloud-form-selects select:focus {
  border-color: #0E3CBD;
}
.word-cloud-form-submit {
  display: flex;
  justify-content: center;
}
.word-cloud-form-submit button {
  margin-top: 30px;
  padding: 25px 18px;
  color: #FFFFFF;
  background-color: #1c1c1c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
.word-cloud-form-submit button:hover {
  background-color: #111111;
}
#download-word-cloud {
  color: #0E3CBD;
}
#download-word-cloud:hover {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.carousel-container img {
  border-radius: 8px;
  max-height: 400px;
  object-fit: contain;
}
.carousel-container .carousel-desc {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  text-align: center;
}
.carousel .control-arrow {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s ease;
}
.carousel .control-arrow:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.github-button-container {
  margin-top: 50px;
  margin-bottom: 100px;
}
.github-button {
  padding: 25px 18px;
  color: #FFFFFF;
  background-color: #1c1c1c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
.github-button:hover {
  background-color: #111111;
}

/* Styles for the contact.jsx */
.contact-container {
  background-color: #1c1c1c;
  padding-left: 100px;
  padding-right: 100px;
  /* min-height: 100vh; */
  padding-bottom: 50px;
}
.contact-container h2 {
  color: #FFFFFF;
  font-size: 50px;
  padding-top: 85px;
  margin-top: 0;
}
.contact-container h3 {
  color: #FFFFFF;
  padding: 0 15px;
}
.contact-container p {
  color: #FFFFFF;
}
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info a {
  color: #0E3CBD;
  text-decoration: none;
}
.contact-info a:hover {
  text-decoration: underline;
}
.input-info-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.input-info-container input {
  width: 500px;
  height: 60px;
  padding-left: 20px;
  border: 2px solid #1c1c1c;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}
.input-info-container input::placeholder {
  font-weight: bold;
}
.input-info-container input:focus {
  border-color: #0E3CBD;
}
.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10rem;
}
.contact-form-container #message {
  
  margin-top: 50px;
  height: 217px;
  width: 550px;
  padding-left: 15px;
  border: 2px solid #1c1c1c;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  padding-top: 15px;
}
.contact-form-container #message::placeholder {
  font-weight: bold;
  position: absolute;
  top: 15px;
  left: 15px;
}
.contact-form-container #message:focus {
  border-color: #0E3CBD;
}
.submit-container {
  margin-top: 20px;
}
.submit-container button {
  margin-bottom: 70px;
  padding: 10px 20px;
  color: #FFFFFF;
  background-color: #259FDE;
  width: 200px;
  height: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
.submit-container button:hover {
  background-color: #25a0de9f;
}
.error {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
}
.message-state {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
}

/* Styles for the footer.jsx */
.footer-container {
  padding-left: 100px;
  padding-right: 100px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.copyright-container {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#last-upd {
  margin-top: 25px;
}
#footer-socials {
  margin-left: 120px;
}
.footer-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-nav-container ul {
  display: flex;
  list-style-type: none;
}
.footer-nav-container li {
  margin: 0 10px;
}
.footer-nav-container a {
  color: #0E3CBD;
  text-decoration: none;
}
.footer-nav-container a:hover {
  text-decoration: underline;
}