/* Styles for the App.js */
html {
  scroll-behavior: smooth;
  scroll-padding: 40px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: lightgray;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
nav li {
  margin: 0 20px;
}
nav a {
  text-decoration: none;
}

.nav-container a {
  margin-left: 1em;
}
.nav-container button {
  float: right;
  margin-right: 1em;
}

section {
  padding: 100px, 100px;
  text-align: center;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out, visibility 0s 0.25s;
  cursor: pointer;
  z-index: 1000;
}
.scroll-to-top.show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.25s ease-in-out;
}

#skills {
  background-color: gray;
}

#projects {
  background-color: gray;
}

/* Styles for the home.jsx */

.home-container h2, h3 {
  color: white;
}

.home-container {
  background-image: url(C:\Users\aryse\OneDrive\Desktop\CS\Projects\my-portfolio\public\cs_background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pic-container {
  margin-top: 100px;
}
.pic-container img {
  width: 250px;
  border-radius: 50%;
  border: solid white 8px;
}

/* Styles for the about.jsx */
.about-container {
  background-color: gray;
}

.socials ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.socials li {
  margin: 0 20px;
}
.socials a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.socials a:hover {
  background-color: blue;
}