/* Styles for the App.js */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  /*scroll-padding: 79px;*/
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #848484;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
nav .nav-left {
  display: flex;
  align-items: center;
}
.name-logo {
  font-size: 24px;
  margin-left: 2em;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
nav li {
  margin: 0 20px;
}
nav a {
  text-decoration: none;
  color: #1c1c1c;
  transition: color 0.3s ease, background-color 0.3s ease;
}
nav a:hover {
  color: #0E3CBD;
}
nav a.active {
  color: #0E3CBD;
}

section {
  padding: 100px, 100px;
  text-align: center;
}

.scroll-to-top {
  position: fixed;
  font-size: 20px;
  background-color: #5e5e5e;
  border-radius: 5%;
  padding: 10px 15px;
  color: #FFFFFF;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out, visibility 0s 0.25s;
  cursor: pointer;
  z-index: 1000;
}
.scroll-to-top.show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.25s ease-in-out;
}
.scroll-to-top:hover {
  background-color: #1c1c1c;
}

/* Styles for the home.jsx */

.home-container h2 {
  color: #FFFFFF;
  font-size: 70px;
  margin-bottom: 0;
  margin-top: 0.5em;
}
.home-container h3 {
  color: #FFFFFF;
  font-size: 30px;
  margin-bottom: 75px;
}

.home-container {
  background-image: url(C:\Users\aryse\OneDrive\Desktop\CS\Projects\my-portfolio\public\cs_background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
  min-height: 100vh;
}

.pic-container {
  margin-top: 8em;
}
.pic-container img {
  width: 250px;
  border-radius: 50%;
  border: solid #FFFFFF 8px;
}

/* Styles for the about.jsx */
.about-container {
  background-color: #FFFFFF;
  padding-left: clamp(1rem, 5vw, 100px);
  padding-right: clamp(1rem, 5vw, 100px);
  min-height: 100vh;
}
.about-container h2 {
  padding-top: 85px;
}
.cwu-container {
  float: right;
  padding-top: 70px;
}
.cwu-logo img {
  width: 200px;
}
.intro-container {
  text-align: left;
}
.exp-container {
  text-align: left;
}
.exp-container ul {
  list-style-type: none;
  padding: 0;
}
.exp-item {
  margin-bottom: 20px;
}
.exp-icon {
  font-size: 40px;
  margin-right: 20px;
}
.icon-text-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.icon-text-container p {
  margin: 0;
}
.socials ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.socials li {
  margin: 0 30px;
}
.socials a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #1c1c1c;
  color: #FFFFFF;
  font-size: 30px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.socials a:hover {
  background-color: #0E3CBD;
}
#about-socials {
  margin-bottom: 40px;
}

/* Styles for the skills.jsx */
.skills-container {
  background-color: #259FDE;
  padding-left: 100px;
  padding-right: 100px;
  min-height: 100vh;
}
.skills-container h2 {
  color: #FFFFFF;
  font-size: 50px;
  padding-top: 85px;
}
.skills-container h3 {
  color: #FFFFFF;
  font-size: 30px;
}
.skills-container p {
  color: #FFFFFF;
  margin-bottom: 100px;
}
.service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 0 auto;
}
#c-logo {
  width: 60px;
  height: 60px;
}
#mysql-logo {
  width: 85px;
  height: 85px;
}
.text-faded {
  color:#d0d1d3;
}
.skills-project-link {
  cursor: pointer;
  text-decoration: none;
}
.skills-project-link:hover {
  text-decoration: underline;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.col-lg-4, .col-md-6 {
  flex: 1 1 calc(33.33% - 20px); /* Adjust width based on screen size */
  box-sizing: border-box;
}
.mfizz-cplusplus {
  font-size: 50px;
}
@keyframes popEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.skill-pop {
  animation: popEffect 0.7s ease-in-out;
}

/* Styles for the projects.jsx */
.projects-container {
  background-color: #FFFFFF;
  padding-left: 100px;
  padding-right: 100px;
  min-height: 100vh;
}
.projects-container h2 {
  font-size: 50px;
  padding-top: 85px;
}
.projects-container h3 {
  font-size: 30px;
}
.projects-showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.project-card {
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}
.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px;
}
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.curr-dev-circle {
  position: absolute;
  bottom: 5px;
  right: 10px;
  padding: 5px;
  color: rgb(0, 207, 0);
  font-size: 30px;
  animation: spin 2s linear infinite;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
  z-index: 9999;
}
.curr-dev-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.curr-dev-container h4 {
  color: #1c1c1c;
  margin-right: 10px;
}
.spinner {
  color: rgb(0, 207, 0);
  font-size: 30px;
  animation: spin 2s linear infinite;
}
.modal-container {
  background-color: #e6e6e6;
  padding: 30px;
  max-width: 1100px;
  width: 100%;
  max-height: 92vh;
  overflow-y: auto;
  box-shadow: 0 0 20px;
  position: relative;
}
.modal-container h2 {
  margin-top: 0;
}
.modal-container p {
  text-align: left;
  white-space: pre-line;
  font-size: 16px;
  line-height: 1.6;
}
.modal-container a {
  text-decoration: none;
  color: #0E3CBD;
}
.modal-container a:hover {
  text-decoration: underline;
}
.modal-container ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 30px;
}
.modal-container ul li b {
  cursor: pointer;
}
.modal-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
}
.modal-description {
  flex: 1.5;
  min-width: 300px;
}
.modal-description p {
  margin-top: 0;
}
.modal-tech {
  flex: 1;
  min-width: 250px;
}
.modal-tech h3 {
  margin-top: 0;
}
.tech-icon {
  cursor: pointer;
}
.MuiChartsTooltip-root {
  z-index: 9999 !important;
  position: absolute !important;
}
.MuiPieArc-root {
  cursor: pointer;
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 40px;
  cursor: pointer;
}
.close:hover {
  color: #5e5e5e;
}
.project-link {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 16px;
}
.project-link a {
  text-decoration: none;
  color: #0E3CBD;
  margin-bottom: 10px;
}
.project-link a:hover {
  text-decoration: underline;
}
.screenshots-header {
  margin-top: 60px;
}
.demo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.demo-container h3 {
  margin-bottom: 40px;
  color: #0E3CBD;
  display: inline-block;
}
.demo-container h3:hover {
  text-decoration: underline;
  cursor: pointer;
}
.demo-video {
  width: 900px;
  height: 390px;
}
#demo-soon:hover {
  text-decoration: none;
  cursor: text;
}
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.carousel-container img {
  border-radius: 8px;
  max-height: 400px;
  object-fit: contain;
}
.carousel-container .carousel-desc {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  text-align: center;
}
.carousel .control-arrow {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s ease;
}
.carousel .control-arrow:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.github-button-container {
  margin-top: 50px;
  margin-bottom: 100px;
}
.github-button {
  padding: 25px 18px;
  color: #FFFFFF;
  background-color: #1c1c1c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
.github-button:hover {
  background-color: #111111;
}

/* Styles for the contact.jsx */
.contact-container {
  background-color: #1c1c1c;
  padding-left: 100px;
  padding-right: 100px;
  min-height: 100vh;
}
.contact-container h2 {
  color: #FFFFFF;
  font-size: 50px;
  padding-top: 85px;
}
.contact-container h3 {
  color: #FFFFFF;
  padding: 0 15px;
}
.contact-container p {
  color: #FFFFFF;
}
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info a {
  color: #0E3CBD;
  text-decoration: none;
}
.contact-info a:hover {
  text-decoration: underline;
}
.input-info-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.input-info-container input {
  width: 500px;
  height: 60px;
  padding-left: 20px;
  border: 2px solid #1c1c1c;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}
.input-info-container input::placeholder {
  font-weight: bold;
}
.input-info-container input:focus {
  border-color: #0E3CBD;
}
.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10rem;
}
.contact-form-container #message {
  
  margin-top: 50px;
  height: 217px;
  width: 550px;
  padding-left: 15px;
  border: 2px solid #1c1c1c;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  padding-top: 15px;
}
.contact-form-container #message::placeholder {
  font-weight: bold;
  position: absolute;
  top: 15px;
  left: 15px;
}
.contact-form-container #message:focus {
  border-color: #0E3CBD;
}
.submit-container {
  margin-top: 20px;
}
.submit-container button {
  margin-bottom: 70px;
  padding: 10px 20px;
  color: #FFFFFF;
  background-color: #259FDE;
  width: 200px;
  height: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
.submit-container button:hover {
  background-color: #25a0de9f;
}
.error {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
}
.message-state {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
}

/* Styles for the footer.jsx */
.footer-container {
  padding-left: 100px;
  padding-right: 100px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.copyright-container {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#last-upd {
  margin-top: 25px;
}
#footer-socials {
  margin-left: 120px;
}
.footer-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-nav-container ul {
  display: flex;
  list-style-type: none;
}
.footer-nav-container li {
  margin: 0 10px;
}
.footer-nav-container a {
  color: #0E3CBD;
  text-decoration: none;
}
.footer-nav-container a:hover {
  text-decoration: underline;
}